# python stuff
__pycache__
.ipynb_checkpoints

# virtual environments
.venv
.venv.*
.venv-*

# data
/data

# local stuff
_*
!__init__.py
/checkpoints
*.local
/outputs

# log files
*.log
*.logs

# cache
.pytest_cache
.ruff_cache

# other
/wandb
*.bak
*.backup
/*.whl